.best-results {
  th,
  td {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.best-results-name {
  color: #68c;
  max-width: 150px;
}

.best-results-score {
  color: #090;
}

.best-results-nothing {
  text-align: left;
}
