@import "../../variables";

.game-over {
  position: relative;
  width: @game-over-width;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.game-over-name {
  width: @game-over-width;
  text-align: center;
  display: flex;
  justify-content: space-around;

  input {
    width: @game-over-input-width;
  }
}

.game-over-title {
  width: @game-over-width;
  font-size: @game-over-title-size;
  font-weight: bold;
  color: @game-over-title-color;
  text-align: center;
}
