@import "../../variables";

.game-over {
  position: relative;
  width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.game-over-name {
  width: 600px;
  text-align: center;
  display: flex;
  justify-content: space-around;

  input {
    width: 250px;
  }
}

.game-over-title {
  width: 600px;
  font-size: 36px;
  font-weight: bold;
  color: #c00;
  text-align: center;
}
