@import "../../variables";

.intro {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    text-align: center;
  }
}

.intro-logo {
  display: inline-block;
  width: @intro-logo-width;
  height: @intro-logo-height;
  overflow: hidden;
  background-image: url('../../img/logo.png');
  margin: @intro-logo-gap-top 0 @intro-logo-gap-bottom;
}
