@import "../../variables";

.start {
  padding: @start-padding-vertical 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-content {
  display: flex;
  justify-content: space-between;
}

.start-pane {
  width: @start-pane-width;
}

.start-pane-divider {
  background-color: @divider-color;
  width: @start-divider-width;
  margin: 0 @start-divider-gap;
}

.start-footer {
  display: flex;
  justify-content: center;
}
