@import "../../variables";

.start {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: @start-min-height;
  padding: @start-padding-vertical 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > .ant-space {
    display: flex;
    flex-direction: column;
    min-height: @start-min-height - 2 * @start-padding-vertical;
  }
}

.start-content {
  display: flex;
  justify-content: space-between;
}

.start-pane {
  width: @start-pane-width;
}

.start-pane-divider {
  background-color: @divider-color;
  width: @start-divider-width;
  margin: 0 @start-divider-gap;
}

.start-footer {
  display: flex;
  justify-content: center;
}
