@import "~typeface-roboto";
@import "./variables.less";
@import "~antd/lib/style/components.less";

body {
  min-width: 980px;
  min-height: 600px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}
