@import "~typeface-roboto";
@import "~typeface-ubuntu-mono";
@import "./variables.less";
@import "~antd/lib/style/components.less";

body {

}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}
