@import "~typeface-roboto/index.css";
@import "~typeface-ubuntu-mono/index.css";
@import "variables";
@import "~antd/lib/style/components";

#root {
  position: relative;
  width: 100%;
  height: 100%;
}
