@import "~antd/lib/style/index";

@app-title-name-size: 48px;
@app-title-name-color: #f90;
@app-title-version-size: 16px;
@app-title-version-color: #68c;
@app-title-version-gap: 10px;

@intro-padding-vertical: 30px;
@intro-min-height: 500px;
@intro-logo-width: 600px;
@intro-logo-height: 222px;
@intro-logo-gap-top: 20px;
@intro-logo-gap-bottom: 40px;

@start-padding-vertical: 30px;
@start-pane-width: 420px;
@start-divider-width: 1px;
@start-divider-gap: 24px;

@best-results-name-max-width: 150px;
@best-results-name-color: #68c;
@best-results-score-color: #090;

@game-field-font: "Ubuntu Mono", monospace;
@game-field-bg-color: #fff;
@game-field-info-text-color: #fff;
@game-field-info-bg-color: #000;
@game-field-info-opacity: 0.75;
@game-field-info-gap: 15px;
@game-field-info-border-radius: 4px;
@game-field-info-padding-horizontal: 16px;
@game-field-info-padding-vertical: 2px;
@game-field-correct-color: #0c0;
@game-field-wrong-color: #f00;
@game-field-missed-color: #f90;

@game-over-padding-vertical: 30px;
@game-over-width: 600px;
@game-over-input-width: 250px;
@game-over-title-size: 36px;
@game-over-title-color: #c00;
@game-over-score-color: #68c;
@game-over-correct-color: #080;
@game-over-wrong-color: #a00;
@game-over-missed-color: #c60;
@game-over-incorrect-item-font: @game-field-font;
@game-over-incorrect-item-font-size: 18px;
